# .env.local
WEBSITE_BASE_DOMAIN=miravance.io
DEV_ORG_ID=0000-0000-0000-0000  # dev only
# Your HMS public API base URL
VITE_API_BASE_URL=http://localhost:3000/api/v1/public
VITE_HMS_BASE_URL=http://localhost:3000/api/v1/public
VITE_HMS_API_KEY=pk_test_xxxxxxxxxxxx

#VITE_API_BASE_URL=https://hms-backend-xh5l.onrender.com/api/v1/public


# Paystack or Flutterwave public key
VITE_PAYMENT_PUBLIC_KEY=pk_test_xxxxxxxxxxxx